[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
[user]
	name = Tue Duong
	email = rinzlersoftware@gmail.com
	signingkey = ~/.ssh/id_ed25519.pub
[color]
	ui = true
[commit]
	gpgsign = true
[http]
	sslBackend = openssl
[gpg]
	format = ssh
